@media screen and (width >= 768px) {
    .extra-details {
        max-width: 90vw !important;
    }

    .gradio-markdown .code_wrap {
        background-color: rgb(128 128 128 / 0.3);
        padding: 0.25rem;
        overflow-x: scroll;

        & .copy_code_button {
            display: none;
        }
    }
}
